  /*---Carosel*/
body {
    padding: 0;
    margin: 0;
    background: #ffffe5;
  }
  
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
    font-weight: bold;
  }
  h4 {
    text-align: center;
  }
  .description {
    left: 50%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  .description h1 {
    color: #d2e901;
    text-shadow: 4px 4px #465010;
  }
  .description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
  }
  .feature-title {
    color: #333;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  }
  /*--- navigation bar ---*/
  
  .navbar {
    background:#103074;
  }
  .navbar-brand {
    cursor: pointer;
    color: #ffffff;
  }
  .navbar-brand:hover {
    color: #d2e901;
    font-weight: 700;
  }
  .nav-link {
    color: #ffffff;
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: #d2e901;
    font-weight: 700;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  /*---Header---*/
  .header {
    background-image: url('../img/BG_Chart2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    max-height:300px;
  }
  .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.75);
  }
/* .row{
  margin-bottom: 2%;
} */

